@model waMusicPro.Models.Usuario

@{
    ViewBag.Title = "AddUsers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-5 fw-bold h1 text-center">Añadir Usuarios</h1>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmUsuarioAdd", name = "frmUsuarioAdd", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Añadir Usuario" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Users")" class="btn btn-danger">
        <span class="glyphicon glyphicon-arrow-left"></span> Volver al listado de usuarios
    </a>

</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        $("#frmUsuarioAdd").submit(function () {
            $.ajax({
                url: '/api/Usuario',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(convertFormToJSON($('#frmUsuarioAdd'))),
                success: function (resp) {
                    console.log(resp);
                },
                error: function () {
                    $('#message').html("Error posting the update.");
                }
            });
            return false;
        });

        function convertFormToJSON(form) {
            return $(form)
                .serializeArray()
                .reduce(function (json, { name, value }) {
                    json[name] = value;
                    return json;
                }, {});
        }



    </script>
}


